@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes bounce {
  0% {transform: translateY(0px);}
  5% {transform: translateY(-180px);}
  15% {transform: translateY(0px);}
  20% {transform: translateY(-70px);}
  40% {transform: translateX(0px);}
  50% {transform: translateX(-20px);}
  60% {transform: translateX(0px);}
  70% {transform: translateX(-10px);}
  80% {transform: translateX(0px);}
  90% {transform: translateX(-5px);}
  100% {transform: translateX(0px);}
}

@font-face {
  font-family: avantGardeGothic;
  src: url(../assets/igg_bold.otf);
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(rgba(255,255,255,0.2), transparent), rgba(18, 172, 167, 1);
}

.content {
  display: flex;
  align-items: center;

}

#tribe {
  color: rgba(236, 100, 107, 1);
}

.bouncer {
  animation-name: bounce;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.text-action {
  color: white;
  animation-name: fade-in;
  animation-duration: 1s;
  font-size: 48px;
  text-shadow: 1px 1px rgba(10, 10, 10, 0.2);
  font-family: avantGardeGothic;
}

#soon {
  color: white;

  animation-name: fade-in;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-fill-mode: both;
}


.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
}
